<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Boiager {% if title %}- {{ title }} {% endif %}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/static/vendor/weathericons/css/weather-icons.min.css">
    <link rel="stylesheet" href="/static/vendor/weathericons/css/weather-icons-wind.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <header class="nav-wrapper teal">
                <!-- condicionals segons authenticated o no.. -->
                <a href="/" class="brand-logo left" id="logo">Boiager</a>
                <ul id="nav-mobile" class="left">
                	{% if sliders %}
                		{% for slider in sliders%}
                		<li class="menu-item"><a href="/{{slider.label}}">{{slider.title}}</a></li>
                		{% endfor %}
                	{% endif %}
                </ul>
                <ul class="right col s8" >
                {% if user.is_authenticated %}
                    <li><a id="user-dropdown-btn" class="dropdown-button teal" href="#!" data-activates="user-dropdown"><i class="material-icons left">account_circle</i>{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id="user-dropdown" class="dropdown-content">
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/change_password">Change Password</a></li>
                        <li><a href="/profile_edit">Profile Edit</a></li>
                    </ul>
                {% else %}
                    <li><a class="btn waves-effect waves-light teal lighten-3" href="/signup">Signup</a></li>
                    <li><a class="btn waves-effect waves-light teal lighten-3" href="/login">Login</a></li>
                {% endif %}
                </ul>
            </header>
        </nav>
    </div>

    <main class="container">
        <div class="row">
            {% if sidebar %}
                <div class="left col s2" id="zindex">{% block sidebar %}{% endblock %}</div>
                <div class="right col s10">
            {% else %}
                <div class="right col s12">
            {% endif %}
                {% block content %}{% endblock %}</div>
        </div>
    </main>
    <footer class="page-footer teal">
        <div class="footer-copyright">
            <div class="center">
                © 2016 Copyright Text
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/static/vendor/materialize/js/materialize.min.js"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                Materialize.toast('{{ message }}', 4000, 'message {{ message.tags }}');
            {% endfor %}
        {% endif %}
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>