{% extends 'base.html' %}
{% block sidebar %}
    <aside id="sidebar">
        <div><a styles="text-align: center" href="/centre/{{ centre.id }}/{{ boia.id }}/">Actual</a></div>
    </aside>
{% endblock %}
{% block content %}
    {% load humanize %}
    <div class="section">
        <a href="/centres">Centres</a> &#8594 <a href="/centre/{{ centre.id }}">{{ centre.name }}</a> &#8594 <a href="/centre/{{ centre.id }}/{{ boia.id }}">{{ boia.location_name }}</a> &#8594 <b>{{ year }}</b>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>{{ boia.location_name }}</h5> {{ latest.timestamp|naturaltime }}
        <div id="chart_aigua" style="width: 100%; height: 400px;"></div>
        <div id="chart_aire" style="width: 100%; height: 400px;"></div>
        <div id="chart_vent" style="width: 100%; height: 400px;"></div>
        <div class="row">
            {% comment %}<div class="col s4">
            {% if boia.location_img %}
                <div class="section"><img src="{{boia.location_img}}" alt=""></div>
            {% endif %}
            </div>{% endcomment %}
            <div class="col s6">
                <div class="row">
                    <div class="col s6 statscard">
                        <h6 class="statscard-title"><i class="wi wi-raindrop"></i> Temp aigua</h6>
                        <div class="divider"></div>

                        <p class="statscard-label_actual">Ara</p>
                        <p class="statscard-stat_actual">{{ latest.tmp_water|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Màxima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aigua_maxima|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Mínima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aigua_minima|floatformat:1 }} <i class="wi wi-celsius"></i></p>
                    </div>
                    <div class="col s6 statscard">
                        <h6 class="statscard-title"><i class="wi wi-thermometer-exterior"></i> Temp aire</h6>
                        <div class="divider"></div>

                        <p class="statscard-label_actual">Ara</p>
                        <p class="statscard-stat_actual">{{ latest.tmp_air|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Màxima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aire_maxima|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Mínima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aire_minima|floatformat:1 }} <i class="wi wi-celsius"></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 statscard">
                        <h6 class="statscard-title"><i class="wi wi-strong-wind"></i> Vent</h6>
                        <div class="divider"></div>

                        <p class="statscard-label_actual">Ara</p>
                        <p class="statscard-stat_actual">{{ latest.wind_speed|floatformat:1 }} <span class="statscard-unit_actual">Km/h</span></p>

                        <p class="statscard-label">Màxima</p>
                        <p class="statscard-stat">{{ max_min.wind_speed_maxima|floatformat:1 }} <span class="statscard-unit">Km/h</span></p>

                        <p class="statscard-label">Mínima</p>
                        <p class="statscard-stat">{{ max_min.wind_speed_minima|floatformat:1 }} <span class="statscard-unit">Km/h</span></p>
                    </div>
                    <div class="col s6 statscard">
                        <h6 class="statscard-title"><i class="wi wi-thermometer-exterior"></i> Temp aire</h6>
                        <div class="divider"></div>

                        <p class="statscard-label_actual">Ara</p>
                        <p class="statscard-stat_actual">{{ latest.tmp_air|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Màxima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aire_maxima|floatformat:1 }} <i class="wi wi-celsius"></i></p>

                        <p class="statscard-label">Mínima</p>
                        <p class="statscard-stat">{{ max_min.tmp_aire_minima|floatformat:1 }} <i class="wi wi-celsius"></i></p>
                    </div>
                </div>
            </div>
            <div class="col s5 offset-s1">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var mitjanes = {{ mitjanes|safe }};
        var chart_aigua_data = [['Mes','Temp Aigua']];
        var chart_aire_data = [['Mes','Temp Aire']];
        var chart_vent_data = [['Mes','Vent']];

        mitjanes.map(function(reg) {
           chart_aigua_data.push([
                   reg.mes, reg.tmp_aigua
           ]);
           chart_aire_data.push([
                   reg.mes, reg.tmp_aire
           ]);
           chart_vent_data.push([
                   reg.mes, reg.wind_speed
           ]);
        });
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data_aigua = google.visualization.arrayToDataTable(chart_aigua_data);

            var options_aigua = {
                title: 'Temperatura de l\'aigua',
                legend: { position: 'none' },
                vAxis: { format: 'decimal'}
            };

            var chart = new google.charts.Line(document.getElementById('chart_aigua'));

            chart.draw(data_aigua, google.charts.Line.convertOptions(options_aigua));

            var data_aire = google.visualization.arrayToDataTable(chart_aire_data);

            var options_aire = {
                title: 'Temperatura de l\'aire',
                legend: { position: 'none' },
                vAxis: { format: 'decimal'}
            };

            var chart = new google.charts.Line(document.getElementById('chart_aire'));

            chart.draw(data_aire, google.charts.Line.convertOptions(options_aire));

            var data_vent = google.visualization.arrayToDataTable(chart_vent_data);

            var options_vent = {
                title: 'Velocitat del vent',
                legend: { position: 'none' },
                vAxis: { format: '#.# Km/h', viewWindow: {max: 40, min: 0}}
            };

            var chart = new google.charts.Line(document.getElementById('chart_vent'));

            chart.draw(data_vent, google.charts.Line.convertOptions(options_vent));
        }
    </script>
    <script>
        function mesToString(mes) {
            mesos = ['','Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre'];
            return mesos[parseInt(mes)];
        }

        var url = '/centre/{{ centre.id }}/{{ boia.id }}/'

        var dates = {{dates|safe}};

        $('#sidebar').append('<ul id="menu"></ul>');

        for (var any in dates) {
            var item_any = $('<li></li>').html('<a href="'+url+any+'/">'+ any +'</a>').append('<ul class="mesos"></ul>').attr('id', any);
            $('#menu').prepend(item_any);
            for (var mes in dates[any]) {
                var item_mes = $('<li></li>').html('<a href="'+url+any+'/'+mes+'/">'+ mesToString(mes) +'</a>').append('<ul class="dies"></ul>').attr('id',  any + '-' + mes);
                $('#'+any+' .mesos:nth-child(2)').prepend(item_mes);
                for (var dia in dates[any][mes]) {
                    var item_dia = $('<li></li>').html('<a href="'+url+any+'/'+mes+'/'+dia+'/">'+ dia +'</a>').attr('id', any +'-'+ mes +'-'+ dia);
                    $('#'+any+'-'+mes+' .dies:nth-child(2)').prepend(item_dia);
                }
            }
        }




        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{boia.lat|floatformat:7}}, lng:{{boia.lng|floatformat:7}} },
                zoom: 17,
                scrollwheel: false,
                disableDefaultUI: true,
                draggable: false,
                styles:[{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#80cbc4"}]}]
            });

            var marker = new google.maps.Marker({
                position: { lat: parseFloat({{ boia.lat }}), lng: parseFloat({{ boia.lng }})},
                map: map,
                title: '{{ boia.location_name }}',
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxxnEczYMOs4eAAM-RMTvFPzK5xxLn_NE&callback=initMap"
        async defer></script>
{% endblock %}