{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <b>Centres</b>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s4">
            <h5>Centres</h5>
            {% if centres_publics %}
                <div class="section">
                <h6>Centres Públics</h6>
                <div class="divider divider_centres"></div>
                <div class="row taula_centres">
                    <div class="col s9">
                        <p class="small">Nom del centre</p>
                    </div>
                    <div class="col s3 center">
                        <p class="small">Boies</p>
                    </div>
                    {% for centre_public in centres_publics %}
                        <div class="col s9">
                            <p><a class="centres" id="{{ centre_public.id }}" href="/centre/{{centre_public.id}}">{{ centre_public.name }}</a></p>
                        </div>
                        <div class="col s3 center">
                            <p>{{ centre_public.get_boies_count }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if centres_privats %}
                <div class="section">
                <h6>Centres Privats</h6>
                <div class="divider divider_centres"></div>
                <div class="row taula_centres">
                    <div class="col s9">
                        <p class="small">Nom del centre</p>
                    </div>
                    <div class="col s3 center">
                        <p class="small">Boies</p>
                    </div>
                    {% for centre_privat in centres_privats %}
                        <div class="col s9">
                            <p><a class="centres" id="{{ centre_privat.id }}" href="/centre/{{centre_privat.id}}">{{ centre_privat.name }}</a></p>
                        </div>
                        <div class="col s3 center">
                            <p>{{ centre_privat.get_boies_count }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="col s8">
                <div id="map" class="map_centres"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var centres_publics = {{ publics|safe }};
        var centres_privats = {{ privats|safe }};

        var url = '/centre/';
        var lat = 41.732895;
        var lng = 1.793109;
        var centres = [];
        centres_publics.map(function(centre, i) {
            centre.fields.id = centre.pk;
            centres.push(centre.fields);
        });
        centres_privats.map(function(centre, i) {
            centre.fields.id = centre.pk;
            centres.push(centre.fields);
        });

        var map;
        var markers = {};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng },
                zoom: 8,
                scrollwheel: false,
                disableDefaultUI: true,
                draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP, //TERRAIN,SATELLITE,ROADMAP,HYBRID
                styles:[{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"off"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#80cbc4"}]}]
            });
            for( var i = 0; i < centres.length; i++) {
                var marker = new google.maps.Marker({
                    position: { lat: parseFloat(centres[i].lat), lng: parseFloat(centres[i].lng)},
                    title: centres[i].name,
                    map: map,
                    title: centres[i].location_name,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png', //centres[i].isPublic ? 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png': 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                    centre_id: centres[i].id
                });
                markers[centres[i].id] = marker;
                marker.addListener('click', function() {
                    window.location.href = url + this.centre_id;
                });
            }
        }

        $('.centres').on('mouseover', function() {
            var id = $(this).attr('id');
            markers[id].setIcon("http://maps.google.com/mapfiles/ms/icons/yellow-dot.png")
        });

        $('.centres').on('mouseout', function() {
            var id = $(this).attr('id');
            markers[id].setIcon("http://maps.google.com/mapfiles/ms/icons/red-dot.png")
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxxnEczYMOs4eAAM-RMTvFPzK5xxLn_NE&callback=initMap"
        async defer></script>
{% endblock %}