{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <a href="/centres">Centres</a> &#8594 <b>{{ centre.name }}</b>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>{{ centre.name }}</h5>
        <div class="row">
            <div class="col s4">
            <p>{{ centre.description }}</p>
            {% if centre.img %}
                <div class="section"><img src="{{centre.img}}" alt=""></div>
            {% endif %}
            {% comment %}{% if boies %}
                {% for boia in boies %}
                    <p>Boia {{boia.location_name}}</p>
                {% endfor %}
            {% endif %}{% endcomment %}
            </div>
            <div class="col s8">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // MAP
        var url = '/centre/' + {{centre.id}} + '/';
        var lat = {{map_centre.lat|floatformat:7}};
        var lng = {{map_centre.lng|floatformat:7}};
        var centre_lat = {{ centre.lat }};
        var centre_lng = {{ centre.lng }};
        var centre_name = '{{ centre.name }}';
        var data = {{data|safe}};
        var boies = data.map(function(boia) {
            return boia.fields;
        });
    </script>
    <script type="text/javascript" src="/static/js/centre_map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxxnEczYMOs4eAAM-RMTvFPzK5xxLn_NE&callback=initMap"
        async defer></script>
{% endblock %}