{% extends 'base.html' %}
{% block content %}
<div class="section">
	<div class="row">
		<div class="col s8 offset-s2">
			<h4>Codi</h4>
			<div class="divider"></div>
			<form method="GET" action='/signup' class="form">

				<p>
                    <label for="token">Codi:</label>
                    <input autofocus="" id="token" maxlength="36" name="token" type="text" required />
                </p>
				<button class="btn waves-effect waves-light right" type="submit">Continua</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}