{% extends 'base.html' %}
{% block content %}
<div class="section">
	<div class="row">
    <div class="col s12 m12 l3">
      <ul class="tabs">
        <li class="tab col s10 hide-on-med-and-down"><h6>Dashboard</h6></li>
        <li class="tab col s10"><a href="#centres" class="active">Centres</a></li>
        <li class="tab col s10"><a href="#privacitat">Privacitat</a></li>
      </ul>
    </div>
    <div id="centres" class="col s12 m12 l8 offset-l1">
        <h5>Configuració dels centres</h5>
        <div class="divider"></div>
        <div class="section">
            <div class="col s12">
                <h6>Afegir un centre</h6>
                <form method="GET" class="form">
                    <p>
                        <label for="token">Codi:</label>
                        <input autofocus="" id="token" maxlength="36" name="token" type="text" required />
                    </p>
                    <button class="btn waves-effect waves-light right" type="submit">Afegeix</button>
                </form>
            </div>
        </div>
        {% if centres %}
        <div class="section">
            <div class="col s12">
                <div class="divider" style="margin: 20px 0;"></div>
                <h6>Els meus centres</h6>
                <ul class="collection">
                {% for centre in centres %}
                    <li class="collection-item">
                        <div>
                            <a href="/centre/{{ centre.id }}">{{ centre.name }}</a>
                            <a href="#modal" class="secondary-content modal-trigger" onclick="centre_id = {{ centre.id }};"><i class="material-icons">clear</i></a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <h5>Eliminar centre</h5>
                <p>Estàs segur que vols eliminar aquest centre?</p>
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal').close();" class=" modal-action modal-close waves-effect waves-teal btn-flat">Cancel·la</a>
                <a id="centre_elimina" class=" modal-action modal-close waves-effect waves-red btn-flat">Elimina</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="privacitat" class="col s12 m12 l8 offset-l1">
        <h5>Configuració de la privacitat</h5>
        <div class="divider"></div>
        <div class="section">
            <div class="col s12">
                <h6>Dades personals</h6>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <p>
                        <label for="first_name">Nom:</label>
                        <input id="first_name" maxlength="30" name="first_name" type="text" value="{{ user.first_name }}"/>
                    </p>
                    <p>
                        <label for="last_name">Cognoms:</label>
                        <input id="last_name" maxlength="30" name="last_name" type="text" value="{{ user.last_name }}"/>
                    </p>
                    <p>
                        <label for="email">Email:</label>
                        <input id="email" maxlength="254" name="email" type="text" value="{{ user.email }}"/>
                    </p>
                    <button class="btn waves-effect waves-light left" type="submit">Desa</button>
                </form>
            </div>
        </div>
        <div class="section">
            <div class="col s12">
                <div class="divider" style="margin: 20px 0;"></div>
                <h6>Dades d'usuari</h6>
                <p>Registrat desde: <span style="font-weight: 100"> {{ request.user.date_joined|date:'j \d\e M \d\e Y' }}</span></p>
                <p>Ultima connexió: <span style="font-weight: 100"> {{ request.user.last_login|date:'j \d\e M \d\e Y \a \l\e\s H:i' }}</span></p>
            </div>
        </div>
        <div class="section">
            <div class="col s12">
                <div class="divider" style="margin: 20px 0;"></div>
                <h6>Canviar la contrasenya</h6>
                <div class="section"><a href="/change_password" class="secondary-content btn-flat left" style="background: #ffcc80;">Canvia la contrasenya</a></div>
            </div>
        </div>
        <div class="section">
            <div class="col s12">
                <div class="divider" style="margin: 20px 0;"></div>
                <h6>Eliminar el compte</h6>
                <div class="section"><a href="#modal2" class="secondary-content modal-trigger btn-flat left" style="background: #ef9a9a;">Elimina el meu compte</a></div>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h5>Eliminar centre</h5>
                <p>Estàs segur que vols eliminar el teu compte?</p>
                <p style="font-weight: 100; font-size: 10px">Pots revertir aquesta acció contactant amb un administrador</p>
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal2').close();" class=" modal-action modal-close waves-effect waves-teal btn-flat">Cancel·la</a>
                <a id="user_elimina" class=" modal-action modal-close waves-effect waves-red btn-flat">Elimina</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        var centre_id;
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
            $('#centre_elimina').on('click', function() {
                window.location.href = '/dashboard/elimina_centre/' + centre_id;
            });
            $('#user_elimina').on('click', function() {
                window.location.href = '/dashboard/elimina_user';
            });
        })
    </script>
{% endblock %}