body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #888;
    font-weight: 300
}


a {
	color: #009688;
}

b {
	font-weight: 200;
}

main {
    flex: 1 0 auto;
}

.slider img {
	-webkit-filter: blur(1px) brightness(60%);
}

#logo {
	font-size: 18px;
	font-weight: 600;
	margin-left: 20px;
	margin-right: 60px;
}

nav .brand-logo {
	position: relative;
}

.divider_centres {
	margin-bottom: 15px;
}

.small {
	font-size: 10px;
}

.taula_centres p {
	margin-bottom: 2px;
	margin-top: 2px;
}

.errorlist {
	color: #f44336;
	font-size: 12px;
}

#user-dropdown-btn {
	/*width: 190px;*/
	border-left: 10px solid white;
}

#user-dropdown {
	/*width: 200px;*/
}

#user-dropdown > li > a {
	font-size: 14px;
}

#map {
	width: 100%;
	height: 500px;
}

#map.map_centres {
	height: 600px;
}

#map.map_boia_actual {
	height: 350px;
}

#map.map_boia_history {
	height: 200px;
}

img {
	width: 100%;
	height: auto;
}

.menu-item:hover {
	border-top: 3px solid #80cbc4;
}

.statscard {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}

.statscard-title {
	text-align: left;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.statscard-title > i {
	margin-right: 1em;
}

.statscard-divider {
	
}

.statscard-label {
	font-size: 9px;
	line-height: 0.5;
	margin-bottom: 0;
}

.statscard-label_actual {
	font-size: 9px;
	line-height: 0.5;
	margin-bottom: 0;
	margin-top: 2em;
}

.statscard-stat {
	font-size: 24px;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 0;
	color: #009688;
}

.statscard-stat_actual {
	font-size: 36px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #009688;
}

.statscard-unit {
	font-size: 14px;
}

.statscard-unit_actual {
	font-size: 18px;
}


.message {
	color: white;
	font-size: 14px;
}

.success {
	background-color: #c8e6c9;
}

.warning {
	background-color: #ffcc80;
}

.error {
	background-color: #ef9a9a;
}


.wi-celsius {
	font-size: 21px;
	position: relative;
	top: 3px;
}

/* MENU */

#zindex {
	z-index: 10000;
	position: relative;
}

#sidebar {
	position: fixed;
	top: 145px;
}

#sidebar > div {
	width: 50px;
	text-align: center;
	font-size: 12px;
}

#menu {
	z-index: 10000;
	height: 70vh;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	list-style: none;
	font-size: 12px;
}


#menu ul, #menu li {
	text-align: center;
	box-sizing: border-box;
	position: relative;
	background-color: #f2fafa;
}

#menu  ul > li > ul {
	max-height: 288px;
	overflow-y: auto;
	overflow-x: hidden;
}

#menu li {
	line-height: 22px;
	border-bottom: 1px solid #009688;
	height: 22px;
	width: 50px;
}

#menu a {
	/*padding: 5px;*/
	margin: 5px;
}

#menu > li > ul, #menu > li > ul > li{
	width: 100px;
}

#menu > li > ul > li > ul {
	width: 50px;
}

#menu > li ul {
	display: none;
}

#menu li:hover {
	box-shadow: 1px 1px 1px #009688, -1px -1px 1px #009688;
	background-color: white;

}

#menu li:hover > ul  {
	position: absolute;
	display: block;
	left: 50px;
	top: 0px;
}
#menu li>ul li:hover > ul  {
	position: absolute;
	display: block;
	left: 100px;
	top: 0px;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #e0f2f1;
}
::-webkit-scrollbar-thumb {
    background-color: #009688;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


#calendar {
	position: relative;
	top: 4px;
	color: #009688;
	cursor: pointer;
}



