{% extends 'pagina.html' %}
{% block pagina_content %}
    <h5 id="titol">
        Slider 1
    </h5>
    <p id="synopsis">
        Descripció breu del slider 1
    </p>
    <div id="contingut">
        <h5>Slider 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius lorem et hendrerit tempor. Sed sodales metus urna, ut porta est gravida quis. Curabitur pellentesque erat ac mauris malesuada, vel laoreet sapien tristique. Nulla quis urna sit amet lacus vehicula posuere quis id justo. Curabitur sollicitudin ligula et felis ornare semper. Donec iaculis nisl risus. Aenean mollis placerat lorem a hendrerit. Praesent ultrices in sem ac laoreet. Vivamus consectetur tellus vitae semper fringilla. Nunc rhoncus vestibulum purus, consectetur pulvinar mauris. Aenean a velit ligula. Sed sodales cursus nulla sed vulputate. Donec varius magna at tincidunt feugiat. Vivamus vitae leo venenatis, faucibus lorem vel, aliquet tortor. Etiam sed ullamcorper lectus. Nulla vel malesuada velit, ac sagittis dolor.</p>
        <p>Pellentesque turpis odio, elementum tempus rutrum vel, efficitur nec magna. Vestibulum tempus tempor lacus at accumsan. Vestibulum mi nulla, interdum at laoreet ac, dignissim non lacus. Nunc sit amet malesuada leo, vel tristique massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sit amet facilisis lacus. Sed porta velit sit amet consectetur placerat. Nunc bibendum vehicula sem, in auctor quam rhoncus sit amet. Quisque nec dui ut risus bibendum dictum. Vestibulum sed tempus quam, ac iaculis nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
{% endblock %}